html, body {
  margin: 0;
  display: block;
  background: rgb(57, 13, 84);
  font-family: Monaco;
  
}
h1 {
  margin: 0px;
  padding: 20px;
  font-family: Copperplate;
  color: white;
}
p, h3 {
  color: rgb(203, 193, 193);
}
button {
  background: rgb(164, 111, 213);
  color: rgb(203, 193, 193);
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  font-size: 38px;
  font-family: Copperplate;
 
}
button:hover {
  background: rgb(77, 74, 74);
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
button {
  padding: 30px;
  margin: 20px;
}

a:active {
  color: white;
}
.score {
  background: orange;
  text-align: center;
}

.choices {
  background: rgb(164, 111, 213);
  color: rgb(237, 215, 235);
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
}

.newgame { 
  background: rgb(64, 0, 128);
  font-size: 18px;
}

.gametitle {
  background:   rgb(164, 111, 213);
  /* background: rgb(115, 115, 241); */
  margin: 0;
  border: 1px solid rgb(109, 108, 108);
  border-radius: 5px;
  box-shadow: 2px 2px;
  margin: 10px;
  margin-bottom: 0px;
}

.hints {
  font-style: italic;
}